.main 
{
	width:100%;
	max-width:1400px;
	padding-left:100px;
	padding-right:100px;
	margin: 0 auto;
	grid-template-columns: 1fr repeat(11, 0.7fr 0.3fr)0.7fr 1fr;
}

.header
{
	width:100%;
	height:70px;
	background-color:#07070b;	
	display:grid;
	grid-template-columns: 1fr repeat(11, 0.7fr 0.3fr)0.7fr 1fr;
}

.logo
{
	grid-column:3/6;
	background-color:red;
	height:100%;
}

.menu {
  margin: 0;
  grid-column:8/25;
}

.menu_horizon li
{
	  display:inline;
	  list-style: none; 
	  margin-right:5%;
	  margin-left:0;
}
.block
{
	
	max-width:1400px;
	min-height:400px;
	height:700px;
	grid-template-columns: 1fr repeat(11, 0.7fr 0.3fr)0.7fr 1fr;
}

.slideshow
{
	position:relative;
	background:black;		
	background-size: contain;
}
.slider
{
	display: grid;
	background-image:url(img/lady_home.png);
	background-size:cover;
}


.home_text
{
	padding-top:20%;
	grid-column:3/24;
}

.slider:hover
{
	opacity:0.5;
}

.home_buttons{
	display: grid;
	grid-column:9/16;
	height:50px;
}
.home_buttons__one{
	border: 0;
	background:red;
	color: white;
	grid-column:9/12;
	z-index:2;
}

.home_buttons__two{
	border: 0;
	background:black;
	color: white;
	grid-column:13/16;
	z-index:2;
}
.red_text
{
	color:red;
}
.title
{
	grid-column:3/22;
	text-align:center;
	max-height:100px;
}
.about
{
	display:grid;
	background-color:white;	
	height:800px;
}

.about_skills
{
	height:350px;
	grid-column:1/12;
	text-align:center;
}

.spoilers summary::-webkit-details-marker {  display: none;}
summary { 
display: block; 
background-color:grey;
text-align:left;
height:25px;
line-height:25px;
}

.details_close
{
	height:20px;
}

.photo_us
{
	position:relative;
	height:350px;
	grid-column:13/25;
}

.center
{ 
	position:absolute;
	width:400px;
	height:350px;
	left:18%;
	z-index:2;
}

.left
{
	position:absolute;
	width:300px;
	height:300px;	
	top:5%;
	left:0;
	z-index:1;
}

.right
{
	position:absolute;
	width:300px;
	height:300px;
	top:5%;
	right:0;
	z-index:1;
}

.right:hover, .left:hover
{
	opacity:0.5;
}
.slidecontainer
{
	position:relative;
	grid-column:7/18;
	height:100px;

}

.about_slider
{
	
	-webkit-appearance: none;
	appearance: none;
	position:absolute;
	width:100%;
	height:2px;
	top:50%;
	background: #333333;
	outline : none;
}

.about_slider::-webkit-slider-thumb, .about_slider::-moz-range-thumb
{
	-webkit-appearance: none;
    background-image:url(img/shape_3.png);
	cursor:pointer;
	height:19px;
	width:21px;
	border:none;
}
.about_design
{
	display: flex; 
	grid-column:2/25;
	height:200px;
}


.about_design__unit
{

	width:20%;
	height:100%;
	margin-right:10%;
}
.about_design__unit:last-of-type
{
	margin-right:1%;
}
.hexagon_wrapper
{
	position:relative;
	height:40px;
	width:70px;
	margin:0 auto;
}
/*посмотреть другие способы верстки шестиугольников сменить размер*/
.hexagon {
	position:absolute;
	left:30%;
	width: 35px;
	height: 35px;
	background: white;
	z-index:2;
	border: 2px solid black;
	border-right:none;
	border-left:none;
}

.hexagon_wrapper:hover .hexagon
{
	background: red;
}

.subtitle
{
	text-align:center;
}

.unit_skills
{
text-align:center;
overflow:hidden;	
}
.hexagon_left {
	top:6px;
	z-index:1;
	width: 26px;
	height: 26px;
	left:10%;
	border: 2px solid black;
	border-right:none;
	border-bottom:none;
	transform:rotate(-45deg);
}
.hexagon_right {
	top:6px;
	z-index:1;
	left:60%;
	width: 25.5px;
	height: 25.5px;
	border: 2px solid black;
	border-top:none;
	border-left:none;
	transform:rotate(-45deg);
}

.about_us__img
{
	position:absolute;
	top:2px;
	left:5px;
	width:25px;
	height:30px;
}
.portfolio
{
background-color:#262626;		
}

.subtitle_portfolio
{
	padding-top:3%;
	font: bold 30px "Lato",sans-serif;
	color:white;
	text-align:center;
}
.portfolio_menu
{
	grid-columns:9/18;
	padding-bottom:5%;
}
.portfolio_menu_slider li
{
	  display:inline;
	  list-style: none; 
	  margin-right:5%;
	  margin-left:0;
}
.portfolio_menu_slider
{
	text-align:center;
	font: 15px "Lato",sans-serif;
	color:#a4a4a4;	
}
.clients
{
background-color:green;		
}

.team
{
	background-color:yellow;	
}

.service
{
background-color:green;		
}

.blog
{
background-color:orange;		
}

.contact
{
background-color:green;		
}